  /* Colors:
  Blue: #686ccb
  White: #FFFFFF
  Orange: #E56A2E
  Black: #20302F
  */
.header{
    background-color: #FFFFFF;
    background-image: linear-gradient(#686ccb, #FFFFFF);;
}
.header h1{
    font-weight: 500;
    font: Verdana;
    font-size: 35px;
    text-align: left;
    font-style: normal;
}
.mat-sidenav-container{
    height: 100%;
    width: 100%;
    background-color:  #FFFFFF;
}
.drawer{
    height: 100%;
    width: 200px;
    background-color:#686ccb;
}
.buttons button{
    width: 100%;
    text-align: left;
    font-size: 25px;
    display: block;
    padding: 10px;
}
::ng-deep .option {
    width: 200px;
    background: #E56A2E;
  }
.mat-menu-item, .mat-button{
    font-size: 20px;
    color: #FFFFFF;
}
.diff{
    /* changing the color of home and logout, remove if it doesn't look good */
    text-align: left;
    width: 100%;
    background-color: #20302F;
}
/* look for a way to change color on hover */