<div class="header">
  <h1>Church of Phillipi</h1> <!-- can add img here instead -->
  <h1>School Management</h1>
  <h3>Name (Role)</h3>
</div>
<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="drawer">
    <div class="buttons">
    <button mat-button routerLink="" class="diff">Home</button> 
    <button mat-button [matMenuTriggerFor]="school_Info">School Info</button>
     <mat-menu #school_Info="matMenu" class="option">  <!--for the options of dropdown-->
      <button mat-menu-item routerLink="schools">Schools</button>
      <button mat-menu-item routerLink="classes">Classes</button>
      <button mat-menu-item routerLink="semesters">Semesters</button>
      <button mat-menu-item routerLink="courses">Courses</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="register_Info">Registration</button>
      <mat-menu #register_Info="matMenu"class="option"> 
     <button mat-menu-item routerLink="register">Suggested Classes</button>
     <button mat-menu-item routerLink="register">Enroll</button>
     <button mat-menu-item routerLink="register">Drop</button>
   </mat-menu>
   <button mat-button [matMenuTriggerFor]="finance_Info">Finance</button>
   <mat-menu #finance_Info="matMenu" class="option">
    <button mat-menu-item routerLink="finance">Pay tuiton</button>
    <button mat-menu-item routerLink="finance">Pending Payment</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="records_Info">Records</button>
  <mat-menu #records_Info="matMenu" class="option"> 
   <button mat-menu-item routerLink="records">Student's List</button>
   <button mat-menu-item routerLink="records">School's List</button>
   <button mat-menu-item routerLink="records">Employee's List</button>
   <button mat-menu-item routerLink="records">Finance List</button>
 </mat-menu>
  <button mat-button class="diff">Logout</button>
  </div>
  </mat-sidenav>


  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


