<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="app.component.css"> -->
</head>
<body>

<div class="sidebar">
    <h1>Church of Phillipi</h1> <!-- can add img here instead -->
    <a href="nextPage.html" class="active">Home</a>

    <div class="dropdown">
    <select onchange="location= this.value;"> <!--allows option to go to next page, change routing later-->
    <option disabled selected hidden>School Info</option> 
    <option value="nextPage.html">Schools</option>
    <option value="nextPage.html">Semesters</option>
    <option value="nextPage.html" >Classes</option>
    </select>
    <select onchange="location= this.value;">
    <option disabled selected hidden>Registration</option> 
    <option value="nextPage.html">Suggested Classes</option>
    <option value="nextPage.html">Enroll</option>
    <option value="nextPage.html" >Drop</option>
    </select>
    <select onchange="location= this.value;">
    <option disabled selected hidden>Finance</option> 
    <option value="nextPage.html">Pay Tuition</option>
    <option value="nextPage.html">Pending Payment</option>
    </select>
    <select onchange="location= this.value;">
    <option disabled selected hidden>Records</option> 
    <option value="nextPage.html">Student's List</option>
    <option value="nextPage.html">School's List</option>
    <option value="nextPage.html">Employee's List</option>
    <option value="nextPage.html">Finance's List</option>
    </select>
    </div>
<a href="nextPage.html">Logout</a>
</div>

<div class="content">
     <h1>School Management</h1>
   <h3>Name (Role)</h3>

<div class="buttons">
    <button class="button">Schools</button>
    <button class="button">Semesters</button>
    <button class="button">Classes</button>
    <button class="button">Finance</button>
    <button class="button">Register</button>
    <button class="button">Records</button>
    <button class="button">Roles</button>
</div>

<!-- <mat-sidenav-containter>
  <mat-sidenav>SideNav</mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-containter> -->
<!-- ^currently not working but the module has been imported -->



<router-outlet></router-outlet>
