body {
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #20302F;
  }
  h1 { 
    font-size: 40px;
    font: bold;
    text-align: center;
    padding: 5px;
     }
  /* Colors:
  Blue: #686ccb
  White: #FFFFFF
  Orange: #E56A2E
  Black: #20302F
  */
  .content h1{
    text-align: center;
  }
  .sidebar {
     margin: left; /*set to 0? */
    padding: none; /*set to 0? */
    width: 250px;
    font-size: 18px;
    background-color: #686ccb;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
    display: block;
    font-size: 20px;
    color: #20302F;
    padding: 30px;
    text-decoration: none;
  }
  .sidebar a.active {
    background-color: #E56A2E;
    color: #FFFFFF;
  }
  .sidebar a:hover:not(.active) {
    background-color: #20302F;
    color: white;
  }
  .sidebar select {
    display: block;
    font-size: 20px;
    color: #20302F;
    padding: 30px;
    width: 100%;
    background-color: #686ccb;
    text-decoration: none;
  }
  .sidebar select:hover:not(.active) {
    background-color: #20302F;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    padding: 30px;
    width: 100%;
    text-decoration: none;
  }

  .sidebar option {
    display: block;
    color: #20302F;
    font-size: 18px;
    padding: 30px;
    background-color: #686ccb;
    text-decoration: none;
  }
  .sidebar option:hover:not(.active) {
    background-color: #20302F;
    color: #FFFFFF;
    display: block;
    font-size: 20px;
    padding: 30px;
    width: 100%;
    text-decoration: none;
  }
  div.content {
    margin-left: 250px;
    padding: 10px 20px;
    height: 100%; /*make 500px to extend page*/
  }
  @media screen and (max-width: 100%) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  @media screen and (max-width: 100%) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .button {
    background-color: #E56A2E;
    border: none;
    color: #FFFFFF;
    padding: 30px 50px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 0px 0px;
    cursor: grab;
  }

/* .buttons -> space the buttons out */


