
<mat-card>
  <mat-card-title>{{name}}</mat-card-title>

  <mat-card-content>
    <h3>{{principle}}</h3>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="public">Public</mat-button-toggle>
      <mat-button-toggle value="archived">Arcived</mat-button-toggle>
      <mat-button-toggle value="draft">Draft</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>



  <mat-card-actions>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        edit
      </button>
    </mat-menu>
  </mat-card-actions>

</mat-card>
