<div class="top">
    <br>
    <h2>Features&emsp;</h2>
    <button mat-raised-button>Create Roles</button>
    <button mat-raised-button>Assign Roles</button>
    <button mat-raised-button>Role List</button>
    <button mat-raised-button>Edit Roles</button>
    <mat-form-field class="search">
        <span matPrefix> </span>
        <input type="text" matInput placeholder="Search" >
        <button matSuffix mat-button> <mat-icon>search</mat-icon></button>
        </mat-form-field>
        <br/>
    <!-- add search bar -->
 </div>
