<div class="card">
<h1 mat-dialog-title>Create New Semester</h1> <p>Create a new semester here! When done click "Create", if you want to cancel click "Delete"</p>
<div mat-dialog-content>
  <br>
  <div class="grid">
    <div class="col1">
      <h3 class="child">School Name:</h3>
      <mat-form-field appearance="fill" class="child"><mat-label>School Name</mat-label><input matInput (ngModel)="data.name"></mat-form-field>
      <br><h3 class="child">Location:</h3>
      <mat-form-field appearance="fill" class="child"><mat-label>Location</mat-label><input matInput (ngModel)="data.name"></mat-form-field>
      <br><h3 class="child">Principle Name:</h3>
      <mat-form-field appearance="fill" class="child"><mat-label>Principle Name</mat-label><input matInput (ngModel)="data.name"></mat-form-field>
      <br><h3 class="child">Accountant Name:</h3>
      <mat-form-field appearance="fill" class="child"><mat-label>Accountant Name</mat-label><input matInput (ngModel)="data.name"></mat-form-field>
    </div>
    <div class="col2">
      <h3 class="child">Size:</h3>
      <mat-form-field appearance="fill" class="child"><mat-label>Size</mat-label><input matInput (ngModel)="data.name"></mat-form-field>
      <br><h3 class="child">Time:</h3>
      <mat-form-field appearance="fill" class="child"><mat-label>Time</mat-label><input matInput (ngModel)="data.name"></mat-form-field>
      <br><h3 class="child">Prequisite:</h3>
      <mat-form-field appearance="fill" class="child"><mat-label>Prequisite</mat-label><input matInput (ngModel)="data.name"></mat-form-field>
      <br><h3 class="child">Instructor Name:</h3>
      <mat-form-field appearance="fill" class="child"><mat-label>Instructor Name</mat-label><input matInput (ngModel)="data.name"></mat-form-field>
    </div>
  </div>
  <div class="buttons">
  <button><mat-checkbox class="check">Public</mat-checkbox></button>
  <button><mat-checkbox class="check">Private</mat-checkbox></button>
  <button><mat-checkbox class="check">Archive</mat-checkbox></button>
  <button><mat-checkbox class="check">Active</mat-checkbox></button>
  <button><mat-checkbox class="check">Viewable</mat-checkbox></button>
  <button><mat-checkbox class="check">Manual Registration</mat-checkbox></button>
  <button><mat-checkbox class="check">Open Registration</mat-checkbox></button>
</div>
</div>
<div mat-dialog-actions>
  <button mat-button class="delete" (click)="onNoClick()">Delete</button>

  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onNoClick()">Save Draft</button>
  <button mat-button mat-dialog-close="data.name" cdkFocusInitial>Create</button>
</div>
</div>