<div>
  <div class="top">
    <button mat-raised-button class="create">Create</button>
    <button mat-raised-button >Filter</button> <!-- make a menu/dropdown for filter -->
      <mat-form-field class="search">
      <span matPrefix> </span>
      <input type="text" matInput placeholder="Search" >
      <button matSuffix mat-button> <mat-icon>search</mat-icon></button>
      </mat-form-field>
      <br/>
      {{search}}
  </div>
    <app-schoolcards
      *ngFor = "let school of schools"
      [name]="school.name"
      [principle]="school.principle"
      [description]="school.description"
      [schoolID]="school.schoolID"
    ></app-schoolcards>
  </div>



