<div>
  <div>
    <button mat-raised-button>Create</button>
    <button mat-raised-button class="filter">Filter</button> <!-- make a menu/dropdown for filter -->
      <mat-form-field class="search">
      <span matPrefix> </span>
      <input type="text" matInput placeholder="Search" >
      <button matSuffix mat-button> <mat-icon>search</mat-icon></button>
      </mat-form-field>
      <br/>
      {{search}} 
  </div>
  <div>
    <!-- school list  html(use materials card greg) -->
  </div>
</div>


