
<div>
  <div>
    <button mat-raised-button>create</button>
    <form class="example-form">
      <mat-form-field>
      <span matPrefix> </span>
      <input type="tel" matInput placeholder="Search" name= "search" >
      <button matSuffix mat-button>
      <mat-icon>search</mat-icon>
      </button>
      </mat-form-field>
      <br/>
      {{search}}
      </form>
    <button mat-raised-button>filter</button>
  </div>
  <div>
    <!-- school list  html(use materials card greg) -->
  </div>
</div>
