<div class="top">
    <br>
    <h2>Features&emsp;</h2>
    <button mat-raised-button>Pending Payment</button>
    <button mat-raised-button>Verify Payment</button>
    <button mat-raised-button>Waive Payment</button>
    <button mat-raised-button>No Payment</button>

    <mat-form-field class="search">
        <span matPrefix> </span>
        <input type="text" matInput placeholder="Search" >
        <button matSuffix mat-button> <mat-icon>search</mat-icon></button>
        </mat-form-field>
        <br/>
    <!-- add search bar -->
 </div>
