/* this is for the content of sidenav, css for buttons */

.mat-flat-button{
    background-color: #E56A2E;
    color: #FFFFFF;
    padding: 25px 40px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 25px;
    cursor: grab;
}
.mat-flat-button{
    justify-content: space-evenly, center;
}

